/* Chat container */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'Averia Serif Libre';
  src: url('../assets/fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}

.chat-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  padding: 16px;
  justify-content: flex-end;
  /* Align content to the bottom */
}

/* Chat messages */
.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Message styles */
.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  word-break: break-word;
  padding-bottom: 3vw;
  position: relative;
  /* Add this line to enable positioning */
}

.user {
  justify-content: flex-end;
}

.bot {
  justify-content: flex-start;
}

.bot .avatar {
  display: none;
  /* width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-image: url('../assets/notgif.png');
  background-size: contain;
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-bottom: -3px;
  margin-left: -15px; */
}

.botName {
  font-size: 0.8rem;
  font-weight: bold;
  color: #555555;
  margin-bottom: 0.4rem;
}

.messageContent {
  position: relative;
  display: inline-block;
  padding: 0.8rem;
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;
  max-width: 230px;
  font-size: 15px;
  filter: drop-shadow(2px 3px 2px rgba(53, 53, 53, 0.25));
}

.user .messageContent {
  background-color: #C14D54;
  text-align: left;
  color: #ffffff;
  margin-right: -10px;
  /* Set text color for user messages */
}

.user .messageContent::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: -3px;
  border-width: 0 18px 18px 0;
  border-style: solid;
  border-color: transparent transparent #C14D54 transparent;
}


.bot .messageContent {
  background-color: #ffffff;
  color: #333333;
  left: -10px;
  /* Set text color for bot messages */
}

.bot .messageContent::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: -3px;
  border-width: 0 0 18px 18px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  /* box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25); */
  /* z-index: -1; */
}

.user .avatar {
  display: none;
  /* Hide the avatar for user messages */
}

/* Animation styles */
.fadeIn {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* User input */
.user-input {
  display: flex;
  margin-top: 10px;
  margin-left: 0px;
  border: 0vw solid #d1a8a8;
  width: 100%;
  color: #333333;
  background-color: #EEE;
  font-family: 'Roboto', sans-serif;
  padding: 26px 16px;
  text-align: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  left: 0;
}

.user-input textarea {
  flex-grow: 1;
  height: 50px;
  min-height: 50px;
  max-height: 200px;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 18px;
  text-align: left;
  border: 0.3vw solid rgb(230, 230, 230);
  background-color: #ffffff;
  resize: vertical;
}

.user-input button {
  height: 50px;
  width: 50px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: 2px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #df5c64;
  color: transparent;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-image: url('/assets/send1.png');
  background-size: contain;
  background-size: 60%;
  background-position: center;
  background-position-x: 12px;
  background-repeat: no-repeat;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

/* Chat bot header */
.header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #EEE;
  padding-top: 25px;
  padding-bottom: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.backButton {
  background-image: url("../assets/back2.png");
  width: 32px;
  height: 32px;
  background-size: contain;
  margin-left: 10px;
  margin-top: 30px;
  opacity: 0.8;
  background-repeat: no-repeat
}

.iconAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText {
  font-size: 20px;
  color: rgb(128, 128, 128);
  margin-top: 150px;
  justify-content: center;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  /* Vertical center alignment */
  margin-right: auto;
  /* Pushes the icon to the center */
  margin-left: auto;
  margin-bottom: 20px;
  margin-left: -5px;
}

.placeholderIcon {
  border: none;
  outline: none;
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('/assets/gif.gif');
  background-size: contain;
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -75px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  /* Vertical center alignment */
  margin-right: auto;
  /* Pushes the icon to the center */
  margin-left: auto;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  /* Add your icon styles here */
}

.flaggingIcon {
  background-image: url("../assets/Icon3.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-left: 0px;
  margin-top: auto;
  opacity: 0.8;
  background-repeat: no-repeat;
  opacity: 50%;
}

.flaggingIconFlagged {
  background-image: url("../assets/Icon3_5.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-left: px;
  margin-top: 15px;
  opacity: 0.8;
  background-repeat: no-repeat;
}