/* Chat container */
@font-face {

  font-family: 'Averia Serif Libre';
  src: url('../assets/fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}

.chat-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  padding: 16px;
  justify-content: flex-end;
  /* Align content to the bottom */
}

/* Chat messages */
.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Message styles */
.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  word-break: break-word;
  padding-bottom: 3vw;
  position: relative; /* Add this line to enable positioning */
}

.user {
  justify-content: flex-end;
}

.bot {
  justify-content: flex-start;
}

.bot .avatar {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-image: url('../assets/Icon6.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-left: -15px;
}

.botName {
  font-size: 0.8rem;
  font-weight: bold;
  color: #555555;
  margin-bottom: 0.4rem;
}

.messageContent {
  display: inline-block;
  padding: 0.8rem;
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;
  max-width: 230px;
  font-size: 16px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.user .messageContent {
  background-color: #C14D54;
  text-align: center;
  color: #ffffff;
  margin-right: -10px;
  /* Set text color for user messages */
}

.bot .messageContent {
  background-color: #ffffff;
  color: #333333;
  /* Set text color for bot messages */
}

.user .avatar {
  display: none;
  /* Hide the avatar for user messages */
}

/* Animation styles */
.fadeIn {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* User input */
.user-input {
  display: flex;
  margin-top: 16px;
  margin-left: 0px;
  border: 0vw solid #d1a8a8;
  width: 100%;
  color: #333333;
  background-color: #EEE;
  font-family: 'Averia Serif Libre', sans-serif;
  padding: 26px 16px;
  /* Adjust padding for a more balanced look */
  text-align: center;
  align-items: center;
  /* Use a fixed value for border radius */
  font-size: 16px;
  /* Use a fixed font size suitable for mobile */
  position: fixed;
  /* Make it fixed for mobile */
  bottom: 0;
  /* Stick it to the bottom */
  z-index: 1;
  /* Ensure it's above the messages */
  left: 0;
}

.user-input textarea{
  flex-grow: 1;
  height: 50px;
  padding-top: 8px;
  padding-left: 18px;
  margin-right: 10px;
  border: none;
  border-radius: 35px;
  font-size: 18px;
  text-align:left;
  border: 0.5vw solid rgb(230, 230, 230);
  background-color: #ffffff;
}

.user-input button {
  height: 50px;
  padding: 0 16px;
  margin-left: auto;
  /* Adjust margin to auto */
  margin-right:0px;
  /* Adjust margin for a more balanced look */
  border: none;
  border-radius: 20px;
  background-color: #C14D54;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  color: #EEE;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Averia Serif Libre', sans-serif;
}

/* Chat bot header */
.header {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the content horizontally */
  padding: 16px;
  background-color: #EEE;
  color: #000000;
}

.backButton {
  background-image: url("../assets/back2.png");
  width: 38px;
  height: 38px;
  background-size: contain;
  margin-left: 5px;
  margin-bottom: 0px;
  opacity: 0.8;
  background-repeat: no-repeat
}

.headerText {
  font-size: 35px;
  color:#555555;
  margin: 0;
  display: flex;
  align-items: center;
  /* Align the text vertically within the header */
  justify-content: center;
  /* Center the text horizontally within the header */
  flex-grow: 1;
  /* Allow the text to grow and occupy remaining space */
  font-family: 'Averia Serif Libre', sans-serif;
}

.placeholderIcon {
  font-size: min(10vw, 75px);
  padding-right: 6vw;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  /* Add your icon styles here */
}

.flaggingIcon {
  background-image: url("../assets/Icon3.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-left: 5px;
  margin-top: auto;
  opacity: 0.8;
  background-repeat: no-repeat;
  opacity:50% ;
}

.flaggingIconFlagged {
  background-image: url("../assets/Icon3_5.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-left: 5px;
  margin-top: 15px;
  opacity: 0.8;
  background-repeat: no-repeat;
}
