/* FAQheader.module.css */

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'Averia Serif Libre';
  src: url('../assets/fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}

.header {
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding-top: 30px;
  padding-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
}

.backButton {
  order: 1;
  background-image: url("../assets/back3.png");
  width: 32px;
  height: 32px;
  background-size: contain;
  opacity: 1;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-left: 20px;
  margin-top: 5px;
}

.textContainer {
  display: flex;
  justify-content: space-between;
}

.headerText {
  order: 2;
  font-size: 35px;
  color: #ffffff;
  /* font-family: 'Averia Serif Libre', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 25px;
  margin-top: 8px;
}

.botText {
  order: 3;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  width: 125px;
  font-size: 13px;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
  margin-top: -100px;
  color: #555555;
  margin: right;
  margin-top: -40px;
  margin-bottom: 65px;
  margin-right: 105px;
  position: relative;
  filter: drop-shadow(2px 3px 2px rgba(53, 53, 53, 0.25));
  z-index: 2;
}

.botText::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: -3px;
  border-width: 0 18px 18px 0;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  z-index: -1;
}

.chatbotIcon {
  order: 4;
  position:static;
  width: 70px;
  height: 70px;
  background-image: url('/assets/gif.gif');
  background-size: contain;
  background-size: 110%;
  background-position: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: 25px;
  margin-top: -100px;
  margin-bottom: 8px;
  border-width: 0px;
  border-color: #969696;
}