@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'Averia Serif Libre';
  src: url('../assets/fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}

.header {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 3.5%;
  background-color: #EEE
}

.backButton {
  background-image: url("../assets/back2.png");
  width: 38px;
  height: 38px;
  background-size: contain;
  margin-left: 0px;
  margin-bottom: 0px;
  opacity: 0.8;
  background-repeat: no-repeat
}

.headerText {
  font-size: 35px;
  color:#555555;
  margin: 0;
  align-items: center;
  font-family: 'Averia Serif Libre', sans-serif;
}

.chatbotIcon {
  width: 55px;
  height: 55px;
  background-image: url('../assets/chatbot_icon.jpg');
  background-size: contain;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
