@font-face {
  font-family: 'Averia Serif Libre';
  src: url('../assets/fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}

.header {
  width: 96vw;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #ffffff;
}

.backButton {
  background-image: url("../assets/back.png");
  width: 35px;
  height: 35px;
  background-size: contain;
  margin-left: 5px;
  margin-bottom: 0px;
  opacity: 0.8;
  background-repeat: no-repeat
}

.headerText {
  font-size: min(10vw, 75px);
  font-weight: bold;
  margin: 0;
  align-items: center;
  font-family: 'Averia Serif Libre', sans-serif;
}

.chatbotIcon {
  width: 50px;
  height: 50px;
  background-image: url('../assets/chatbot_icon.jpg');
  background-size: contain;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}
