@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-family: 'Averia Serif Libre';
    src: url('../assets/fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}

.main {
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color:#EEE;
    width: 100%;
    background-image: url('../assets/login3.png');
    background-repeat: no-repeat;
    background-size: 455px;
    background-position-x: center;
    background-position-y:-60px ;
    /* background-size: cover; */
}

.title {
    /* color: #333333;
    text-align: left;
    font-weight:bolder;
    font-family: 'Averia Serif Libre', sans-serif; */
    font-size: 30px;
    margin-top: 41px;
    margin-left: 185px;
    background-image: url("../assets/login5.png");
    width: 283;
    height: 73px;
    background-size: contain;
    background-position: center;
    margin-left: 0px;
    margin-bottom: 0px;
    background-repeat: no-repeat
}

.subtitle {
    color: #a4a4a4;
    font-size: 18px;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;

}

.classCodeInput {
    color: rgb(195, 87, 87);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.row input {
    margin-right: 5px;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 50px;
    height: 74px;
    border-width: 3px;
    border-color: #a4a4a4;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.login_row {
    color: #333333;
    background-color: white;
}