@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-family: 'Averia Serif Libre';
    src: url('../assets/fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}

.main {
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color:#EEE;
    width: 100%;
}

.loginContainer {
    background-color: #EEE;
    text-align: center;
}

.title {
    color: #333333;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Averia Serif Libre', sans-serif;
}

.subtitle {
    color: rgb(195, 87, 87);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-family: 'Roboto', sans-serif;

}

.classCodeInput {
    color: rgb(195, 87, 87);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.row input {
    margin-right: 8px;
    font-size: 35px;
    border-radius: 18px;
    padding: 15px;
    text-align: center;
    width: 55px;
    max-width: 100px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.login_row {
    color: #333333;
    background-color: white;
}