@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

.main {
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: white;
    width: 100%;
    background-image: url('../assets/interfaith-logo.png');
    background-repeat: no-repeat; 
}

.title {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.subtitle {
    background-color: white;
    color: rgb(145, 141, 141);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-family: 'Roboto', sans-serif;

}

.classCodeInput {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.row input {
    margin-right: 5px;
    font-size: 20px;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    width: 50px;
    max-width: 100px;
}

.login_row {
    color: black;
    background-color: white;
}