.header {
    width: 96vw;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #ffffff;
}

.backButton {
    font-size: min(10vw, 75px);
    padding-left: 2vw;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.headerText {
    font-size: min(10vw, 75px);
    font-weight: bold;
    margin: 0;
    align-items: center;
}

.chatbotIcon {
    width: 40px;
    height: 40px;
    background-image: url('../Assets/chatbot_icon.jpg');
    background-size: contain;
    float: right;
    margin-top: auto;
    margin-bottom: auto;  
    cursor: pointer;
}