.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13vw;
    padding-bottom: 8vw;
    background-color: #ffffff;
}

.backButton {
    font-size: 8vw;
    padding-left: 6vw;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.headerText {
    font-size: 10vw;
    font-weight: bold;
    margin: 0;
    align-items: center;
}

.placeholderIcon {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    /* Add your icon styles here */
}