@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

.main {
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: white;
    width: 100%;
}
  
.loginContainer {
    background-color: white;
    text-align: center;
    background-image: url('../Assets/PFC.png');

}

.title {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold; 
    font-size: 40px;
    margin-top: 20px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.subtitle {
    background-color: white;
    color: rgb(145, 141, 141);
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
  
.classCodeInput {
    background-color: white;
    color: black;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}
  
.row input {
    margin-right: 5px; 
    font-size: 20px;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    width: 50px;
    max-width: 100px;
}

.login_row{
    color:black;
    background-color: white;
}

  