/* The styler for the main container, using flex display to store all the subelements */
.main_flex {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgb(35, 35, 35);
    background-color: white;
    font-size: 1.5em;
}

/* CSS class for the FAQ header */
.faq_background {
    height: 20vh;
    width: 100%;
    color: black;
    background-color: white;
}

/* CSS for table */
.table_maincss {
    width: 200px;
}

.table_maincell {
    width: 50%;
    font-size: 1vw;
    padding-left: 5%;
}

.table_mainstyle {
    width: 100%;
    max-width: 100vw;
    background-color: rgb(255, 255, 255);
    text-align: left;
}

.table_answer {
    width: 50%;
    font-size: 1vw;
    color: black;
    background-color: rgb(212, 212, 212);
    padding-left: 10%;
}

.searchInput {
    color: black;
}

.active {
    background-color: rgb(255, 255, 255);
}

.classCodeInput {
    color: black;
    font-size: 1em;
}

/* Just a testing class */
.main_button {
    width: 75px;
    margin: auto;
    background-color: white;
    color: black;
}

.stoopid_box {
    width: 20px;
    height: 20px;
    background-color: pink;
    background-image: url("https://img.freepik.com/free-vector/blue-watercolor-mountains-background_23-2149250282.jpg?size=626&ext=jpg");
    background-size: contain;
}

@media (max-width: 767px) {
    .table_answer {
        font-size: 4vw;
        padding: 10px;
        font-family: "Open Sans", Arial, sans-serif;
    }

    .table_maincell {
        font-size: 5vw;
        border: 0.5px solid rgb(230, 230, 230);
        padding: 15px;
        font-family: "Open Sans", Arial, sans-serif;
    }
}