/* The styler for the main container, using flex display to store all the subelements */
.mainbody{
    background-color: white;
    background: white;
}

.main_flex {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgb(30, 30, 30);
    background-color: white;
    font-size: 1.3em;
}

/* CSS class for the FAQ header */
.faq_background {
    height: 20vh;
    width: 100%;
    color: rgb(30, 30, 30);
    background-color: white;
}

/* CSS for table */
.table_maincss {
    width: 200px;
}

.table_maincell {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 4vw;
    padding-left: 5%;
}

.table_mainstyle {
    width: 100%;
    max-width: 100vw;
    background-color: rgb(255, 255, 255);
    text-align: left;
}

.table_text{
    width:70vw;
}

.table_answer {
    width: 100%;
    font-size: 4vw;
    color: rgb(30, 30, 30);
    background-color: rgb(245, 245, 245);
    padding-left: 10%;
}

.searchInput {
    color: rgb(30, 30, 30);
    background-color: rgb(245, 245, 245);
    border: 0.3vw solid rgb(230, 230, 230);
    padding-left: 5vw;
    padding-right: 43vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    text-align:left;
    border-radius: 10vw;
    font-size: 4vw;
    margin-bottom: 5vw;

}

.searchInput::placeholder{
    color:rgb(125, 125, 125)

}

.active {
    background-color: rgb(255, 255, 255);
}

.classCodeInput {
    color: rgb(30, 30, 30);
    font-size: 1em;
}

/* Just a testing class */
.main_button {
    width: 75px;
    margin: auto;
    background-color: white;
    color: rgb(30, 30, 30);
}

.stoopid_box {
    width: 25px;
    height: 25px;
    background-image: url('../Assets/PFC.png');
    background-size: contain;
    float: right;
    margin-top: auto;
    margin-bottom: auto;

}

@media (max-width: 767px) {
    .table_answer {
        font-size: 4vw;
        padding-left: 9vw;
        padding-right: 5vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        font-family: "Open Sans", Arial, sans-serif;
    }

    .table_maincell {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 4vw;
        border-bottom: 0.4vw solid rgb(245, 245, 245);
        padding: 4vw;
        font-family: "Open Sans", Arial, sans-serif;
    }
}


.flipped {
    transform: scaleY(-1);
  }

.tag {
  display: inline-block;
  padding: 3px 14px;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 245);
  color:rgb(125, 125, 125);
  cursor: pointer;
  border-radius: 4vw;
  font-size: 4vw;
  font-weight: bold;
}

.active_tag {
  background-color: rgb(30, 30, 30);
  color: white;
}

